<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="banner">
      <a href="{% url 'home' %}">
        <h1>Miejsce na Twoje myśli</h1>
      </a>
    </div>

    <div class="navbar">
      {% if user.is_authenticated %}
      <a href="{% url 'user_articles' %}">Moje artykuły</a>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Wyloguj się</button>
      </form>
      {% else %}
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <button type="submit">Zaloguj się</button>
      </form>
      <form action="{% url 'register' %}" method="get">
        <button type="submit" class="red-btn">Zarejestruj się</button>
      </form>
      {% endif %}

      <form method="get" action="{% url 'search_results' %}">
        <input
          type="text"
          name="query"
          placeholder="Szukaj po tytule lub autorze"
          value="{{ request.GET.query }}"
          class="search-input"
        />
        <button type="submit" class="search-button">Szukaj</button>
      </form>
    </div>

    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
